/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as core from "../../../../core/index.js";
import * as ElasticDashAPI from "../../../index.js";
import {
  mergeHeaders,
  mergeOnlyDefinedHeaders,
} from "../../../../core/headers.js";
import * as errors from "../../../../errors/index.js";

export declare namespace BlobStorageIntegrations {
  export interface Options {
    environment: core.Supplier<string>;
    /** Specify a custom URL to connect the client to. */
    baseUrl?: core.Supplier<string>;
    username?: core.Supplier<string | undefined>;
    password?: core.Supplier<string | undefined>;
    /** Override the X-ElasticDash-Sdk-Name header */
    xElasticDashSdkName?: core.Supplier<string | undefined>;
    /** Override the X-ElasticDash-Sdk-Version header */
    xElasticDashSdkVersion?: core.Supplier<string | undefined>;
    /** Override the X-ElasticDash-Public-Key header */
    xElasticDashPublicKey?: core.Supplier<string | undefined>;
    /** Additional headers to include in requests. */
    headers?: Record<
      string,
      string | core.Supplier<string | null | undefined> | null | undefined
    >;
  }

  export interface RequestOptions {
    /** The maximum time to wait for a response in seconds. */
    timeoutInSeconds?: number;
    /** The number of times to retry the request. Defaults to 2. */
    maxRetries?: number;
    /** A hook to abort the request. */
    abortSignal?: AbortSignal;
    /** Override the X-ElasticDash-Sdk-Name header */
    xElasticDashSdkName?: string | undefined;
    /** Override the X-ElasticDash-Sdk-Version header */
    xElasticDashSdkVersion?: string | undefined;
    /** Override the X-ElasticDash-Public-Key header */
    xElasticDashPublicKey?: string | undefined;
    /** Additional query string parameters to include in the request. */
    queryParams?: Record<string, unknown>;
    /** Additional headers to include in the request. */
    headers?: Record<
      string,
      string | core.Supplier<string | null | undefined> | null | undefined
    >;
  }
}

export class BlobStorageIntegrations {
  protected readonly _options: BlobStorageIntegrations.Options;

  constructor(_options: BlobStorageIntegrations.Options) {
    this._options = _options;
  }

  /**
   * Get all blob storage integrations for the organization (requires organization-scoped API key)
   *
   * @param {BlobStorageIntegrations.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link ElasticDashAPI.Error}
   * @throws {@link ElasticDashAPI.UnauthorizedError}
   * @throws {@link ElasticDashAPI.AccessDeniedError}
   * @throws {@link ElasticDashAPI.MethodNotAllowedError}
   * @throws {@link ElasticDashAPI.NotFoundError}
   *
   * @example
   *     await client.blobStorageIntegrations.getBlobStorageIntegrations()
   */
  public getBlobStorageIntegrations(
    requestOptions?: BlobStorageIntegrations.RequestOptions,
  ): core.HttpResponsePromise<ElasticDashAPI.BlobStorageIntegrationsResponse> {
    return core.HttpResponsePromise.fromPromise(
      this.__getBlobStorageIntegrations(requestOptions),
    );
  }

  private async __getBlobStorageIntegrations(
    requestOptions?: BlobStorageIntegrations.RequestOptions,
  ): Promise<
    core.WithRawResponse<ElasticDashAPI.BlobStorageIntegrationsResponse>
  > {
    let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      this._options?.headers,
      mergeOnlyDefinedHeaders({
        Authorization: await this._getAuthorizationHeader(),
        "X-ElasticDash-Sdk-Name":
          requestOptions?.xElasticDashSdkName ??
          this._options?.xElasticDashSdkName,
        "X-ElasticDash-Sdk-Version":
          requestOptions?.xElasticDashSdkVersion ??
          this._options?.xElasticDashSdkVersion,
        "X-ElasticDash-Public-Key":
          requestOptions?.xElasticDashPublicKey ??
          this._options?.xElasticDashPublicKey,
      }),
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        "/api/public/integrations/blob-storage",
      ),
      method: "GET",
      headers: _headers,
      queryParameters: requestOptions?.queryParams,
      timeoutMs:
        requestOptions?.timeoutInSeconds != null
          ? requestOptions.timeoutInSeconds * 1000
          : 60000,
      maxRetries: requestOptions?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
    });
    if (_response.ok) {
      return {
        data: _response.body as ElasticDashAPI.BlobStorageIntegrationsResponse,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new ElasticDashAPI.Error(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 401:
          throw new ElasticDashAPI.UnauthorizedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 403:
          throw new ElasticDashAPI.AccessDeniedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 405:
          throw new ElasticDashAPI.MethodNotAllowedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 404:
          throw new ElasticDashAPI.NotFoundError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        default:
          throw new errors.ElasticDashAPIError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    switch (_response.error.reason) {
      case "non-json":
        throw new errors.ElasticDashAPIError({
          statusCode: _response.error.statusCode,
          body: _response.error.rawBody,
          rawResponse: _response.rawResponse,
        });
      case "timeout":
        throw new errors.ElasticDashAPITimeoutError(
          "Timeout exceeded when calling GET /api/public/integrations/blob-storage.",
        );
      case "unknown":
        throw new errors.ElasticDashAPIError({
          message: _response.error.errorMessage,
          rawResponse: _response.rawResponse,
        });
    }
  }

  /**
   * Create or update a blob storage integration for a specific project (requires organization-scoped API key). The configuration is validated by performing a test upload to the bucket.
   *
   * @param {ElasticDashAPI.CreateBlobStorageIntegrationRequest} request
   * @param {BlobStorageIntegrations.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link ElasticDashAPI.Error}
   * @throws {@link ElasticDashAPI.UnauthorizedError}
   * @throws {@link ElasticDashAPI.AccessDeniedError}
   * @throws {@link ElasticDashAPI.MethodNotAllowedError}
   * @throws {@link ElasticDashAPI.NotFoundError}
   *
   * @example
   *     await client.blobStorageIntegrations.upsertBlobStorageIntegration({
   *         projectId: "projectId",
   *         type: "S3",
   *         bucketName: "bucketName",
   *         endpoint: undefined,
   *         region: "region",
   *         accessKeyId: undefined,
   *         secretAccessKey: undefined,
   *         prefix: undefined,
   *         exportFrequency: "hourly",
   *         enabled: true,
   *         forcePathStyle: true,
   *         fileType: "JSON",
   *         exportMode: "FULL_HISTORY",
   *         exportStartDate: undefined
   *     })
   */
  public upsertBlobStorageIntegration(
    request: ElasticDashAPI.CreateBlobStorageIntegrationRequest,
    requestOptions?: BlobStorageIntegrations.RequestOptions,
  ): core.HttpResponsePromise<ElasticDashAPI.BlobStorageIntegrationResponse> {
    return core.HttpResponsePromise.fromPromise(
      this.__upsertBlobStorageIntegration(request, requestOptions),
    );
  }

  private async __upsertBlobStorageIntegration(
    request: ElasticDashAPI.CreateBlobStorageIntegrationRequest,
    requestOptions?: BlobStorageIntegrations.RequestOptions,
  ): Promise<
    core.WithRawResponse<ElasticDashAPI.BlobStorageIntegrationResponse>
  > {
    let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      this._options?.headers,
      mergeOnlyDefinedHeaders({
        Authorization: await this._getAuthorizationHeader(),
        "X-ElasticDash-Sdk-Name":
          requestOptions?.xElasticDashSdkName ??
          this._options?.xElasticDashSdkName,
        "X-ElasticDash-Sdk-Version":
          requestOptions?.xElasticDashSdkVersion ??
          this._options?.xElasticDashSdkVersion,
        "X-ElasticDash-Public-Key":
          requestOptions?.xElasticDashPublicKey ??
          this._options?.xElasticDashPublicKey,
      }),
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        "/api/public/integrations/blob-storage",
      ),
      method: "PUT",
      headers: _headers,
      contentType: "application/json",
      queryParameters: requestOptions?.queryParams,
      requestType: "json",
      body: request,
      timeoutMs:
        requestOptions?.timeoutInSeconds != null
          ? requestOptions.timeoutInSeconds * 1000
          : 60000,
      maxRetries: requestOptions?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
    });
    if (_response.ok) {
      return {
        data: _response.body as ElasticDashAPI.BlobStorageIntegrationResponse,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new ElasticDashAPI.Error(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 401:
          throw new ElasticDashAPI.UnauthorizedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 403:
          throw new ElasticDashAPI.AccessDeniedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 405:
          throw new ElasticDashAPI.MethodNotAllowedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 404:
          throw new ElasticDashAPI.NotFoundError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        default:
          throw new errors.ElasticDashAPIError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    switch (_response.error.reason) {
      case "non-json":
        throw new errors.ElasticDashAPIError({
          statusCode: _response.error.statusCode,
          body: _response.error.rawBody,
          rawResponse: _response.rawResponse,
        });
      case "timeout":
        throw new errors.ElasticDashAPITimeoutError(
          "Timeout exceeded when calling PUT /api/public/integrations/blob-storage.",
        );
      case "unknown":
        throw new errors.ElasticDashAPIError({
          message: _response.error.errorMessage,
          rawResponse: _response.rawResponse,
        });
    }
  }

  /**
   * Delete a blob storage integration by ID (requires organization-scoped API key)
   *
   * @param {string} id
   * @param {BlobStorageIntegrations.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link ElasticDashAPI.Error}
   * @throws {@link ElasticDashAPI.UnauthorizedError}
   * @throws {@link ElasticDashAPI.AccessDeniedError}
   * @throws {@link ElasticDashAPI.MethodNotAllowedError}
   * @throws {@link ElasticDashAPI.NotFoundError}
   *
   * @example
   *     await client.blobStorageIntegrations.deleteBlobStorageIntegration("id")
   */
  public deleteBlobStorageIntegration(
    id: string,
    requestOptions?: BlobStorageIntegrations.RequestOptions,
  ): core.HttpResponsePromise<ElasticDashAPI.BlobStorageIntegrationDeletionResponse> {
    return core.HttpResponsePromise.fromPromise(
      this.__deleteBlobStorageIntegration(id, requestOptions),
    );
  }

  private async __deleteBlobStorageIntegration(
    id: string,
    requestOptions?: BlobStorageIntegrations.RequestOptions,
  ): Promise<
    core.WithRawResponse<ElasticDashAPI.BlobStorageIntegrationDeletionResponse>
  > {
    let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      this._options?.headers,
      mergeOnlyDefinedHeaders({
        Authorization: await this._getAuthorizationHeader(),
        "X-ElasticDash-Sdk-Name":
          requestOptions?.xElasticDashSdkName ??
          this._options?.xElasticDashSdkName,
        "X-ElasticDash-Sdk-Version":
          requestOptions?.xElasticDashSdkVersion ??
          this._options?.xElasticDashSdkVersion,
        "X-ElasticDash-Public-Key":
          requestOptions?.xElasticDashPublicKey ??
          this._options?.xElasticDashPublicKey,
      }),
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        `/api/public/integrations/blob-storage/${encodeURIComponent(id)}`,
      ),
      method: "DELETE",
      headers: _headers,
      queryParameters: requestOptions?.queryParams,
      timeoutMs:
        requestOptions?.timeoutInSeconds != null
          ? requestOptions.timeoutInSeconds * 1000
          : 60000,
      maxRetries: requestOptions?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
    });
    if (_response.ok) {
      return {
        data: _response.body as ElasticDashAPI.BlobStorageIntegrationDeletionResponse,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new ElasticDashAPI.Error(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 401:
          throw new ElasticDashAPI.UnauthorizedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 403:
          throw new ElasticDashAPI.AccessDeniedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 405:
          throw new ElasticDashAPI.MethodNotAllowedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 404:
          throw new ElasticDashAPI.NotFoundError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        default:
          throw new errors.ElasticDashAPIError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    switch (_response.error.reason) {
      case "non-json":
        throw new errors.ElasticDashAPIError({
          statusCode: _response.error.statusCode,
          body: _response.error.rawBody,
          rawResponse: _response.rawResponse,
        });
      case "timeout":
        throw new errors.ElasticDashAPITimeoutError(
          "Timeout exceeded when calling DELETE /api/public/integrations/blob-storage/{id}.",
        );
      case "unknown":
        throw new errors.ElasticDashAPIError({
          message: _response.error.errorMessage,
          rawResponse: _response.rawResponse,
        });
    }
  }

  protected async _getAuthorizationHeader(): Promise<string | undefined> {
    const username = await core.Supplier.get(this._options.username);
    const password = await core.Supplier.get(this._options.password);
    if (username != null && password != null) {
      return core.BasicAuth.toAuthorizationHeader({
        username: username,
        password: password,
      });
    }

    return undefined;
  }
}
