/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as core from "../../../../core/index.js";
import * as ElasticDashAPI from "../../../index.js";
import {
  mergeHeaders,
  mergeOnlyDefinedHeaders,
} from "../../../../core/headers.js";
import * as errors from "../../../../errors/index.js";

export declare namespace Observations {
  export interface Options {
    environment: core.Supplier<string>;
    /** Specify a custom URL to connect the client to. */
    baseUrl?: core.Supplier<string>;
    username?: core.Supplier<string | undefined>;
    password?: core.Supplier<string | undefined>;
    /** Override the X-ElasticDash-Sdk-Name header */
    xElasticDashSdkName?: core.Supplier<string | undefined>;
    /** Override the X-ElasticDash-Sdk-Version header */
    xElasticDashSdkVersion?: core.Supplier<string | undefined>;
    /** Override the X-ElasticDash-Public-Key header */
    xElasticDashPublicKey?: core.Supplier<string | undefined>;
    /** Additional headers to include in requests. */
    headers?: Record<
      string,
      string | core.Supplier<string | null | undefined> | null | undefined
    >;
  }

  export interface RequestOptions {
    /** The maximum time to wait for a response in seconds. */
    timeoutInSeconds?: number;
    /** The number of times to retry the request. Defaults to 2. */
    maxRetries?: number;
    /** A hook to abort the request. */
    abortSignal?: AbortSignal;
    /** Override the X-ElasticDash-Sdk-Name header */
    xElasticDashSdkName?: string | undefined;
    /** Override the X-ElasticDash-Sdk-Version header */
    xElasticDashSdkVersion?: string | undefined;
    /** Override the X-ElasticDash-Public-Key header */
    xElasticDashPublicKey?: string | undefined;
    /** Additional query string parameters to include in the request. */
    queryParams?: Record<string, unknown>;
    /** Additional headers to include in the request. */
    headers?: Record<
      string,
      string | core.Supplier<string | null | undefined> | null | undefined
    >;
  }
}

export class Observations {
  protected readonly _options: Observations.Options;

  constructor(_options: Observations.Options) {
    this._options = _options;
  }

  /**
   * Get a observation
   *
   * @param {string} observationId - The unique elasticdash identifier of an observation, can be an event, span or generation
   * @param {Observations.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link ElasticDashAPI.Error}
   * @throws {@link ElasticDashAPI.UnauthorizedError}
   * @throws {@link ElasticDashAPI.AccessDeniedError}
   * @throws {@link ElasticDashAPI.MethodNotAllowedError}
   * @throws {@link ElasticDashAPI.NotFoundError}
   *
   * @example
   *     await client.observations.get("observationId")
   */
  public get(
    observationId: string,
    requestOptions?: Observations.RequestOptions,
  ): core.HttpResponsePromise<ElasticDashAPI.ObservationsView> {
    return core.HttpResponsePromise.fromPromise(
      this.__get(observationId, requestOptions),
    );
  }

  private async __get(
    observationId: string,
    requestOptions?: Observations.RequestOptions,
  ): Promise<core.WithRawResponse<ElasticDashAPI.ObservationsView>> {
    let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      this._options?.headers,
      mergeOnlyDefinedHeaders({
        Authorization: await this._getAuthorizationHeader(),
        "X-ElasticDash-Sdk-Name":
          requestOptions?.xElasticDashSdkName ??
          this._options?.xElasticDashSdkName,
        "X-ElasticDash-Sdk-Version":
          requestOptions?.xElasticDashSdkVersion ??
          this._options?.xElasticDashSdkVersion,
        "X-ElasticDash-Public-Key":
          requestOptions?.xElasticDashPublicKey ??
          this._options?.xElasticDashPublicKey,
      }),
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        `/api/public/observations/${encodeURIComponent(observationId)}`,
      ),
      method: "GET",
      headers: _headers,
      queryParameters: requestOptions?.queryParams,
      timeoutMs:
        requestOptions?.timeoutInSeconds != null
          ? requestOptions.timeoutInSeconds * 1000
          : 60000,
      maxRetries: requestOptions?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
    });
    if (_response.ok) {
      return {
        data: _response.body as ElasticDashAPI.ObservationsView,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new ElasticDashAPI.Error(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 401:
          throw new ElasticDashAPI.UnauthorizedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 403:
          throw new ElasticDashAPI.AccessDeniedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 405:
          throw new ElasticDashAPI.MethodNotAllowedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 404:
          throw new ElasticDashAPI.NotFoundError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        default:
          throw new errors.ElasticDashAPIError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    switch (_response.error.reason) {
      case "non-json":
        throw new errors.ElasticDashAPIError({
          statusCode: _response.error.statusCode,
          body: _response.error.rawBody,
          rawResponse: _response.rawResponse,
        });
      case "timeout":
        throw new errors.ElasticDashAPITimeoutError(
          "Timeout exceeded when calling GET /api/public/observations/{observationId}.",
        );
      case "unknown":
        throw new errors.ElasticDashAPIError({
          message: _response.error.errorMessage,
          rawResponse: _response.rawResponse,
        });
    }
  }

  /**
   * Get a list of observations.
   *
   * Consider using the [v2 observations endpoint](/api-reference#tag/observationsv2/GET/api/public/v2/observations) for cursor-based pagination and field selection.
   *
   * @param {ElasticDashAPI.GetObservationsRequest} request
   * @param {Observations.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link ElasticDashAPI.Error}
   * @throws {@link ElasticDashAPI.UnauthorizedError}
   * @throws {@link ElasticDashAPI.AccessDeniedError}
   * @throws {@link ElasticDashAPI.MethodNotAllowedError}
   * @throws {@link ElasticDashAPI.NotFoundError}
   *
   * @example
   *     await client.observations.getMany()
   */
  public getMany(
    request: ElasticDashAPI.GetObservationsRequest = {},
    requestOptions?: Observations.RequestOptions,
  ): core.HttpResponsePromise<ElasticDashAPI.ObservationsViews> {
    return core.HttpResponsePromise.fromPromise(
      this.__getMany(request, requestOptions),
    );
  }

  private async __getMany(
    request: ElasticDashAPI.GetObservationsRequest = {},
    requestOptions?: Observations.RequestOptions,
  ): Promise<core.WithRawResponse<ElasticDashAPI.ObservationsViews>> {
    const {
      page,
      limit,
      name,
      userId,
      type: type_,
      traceId,
      level,
      parentObservationId,
      environment,
      fromStartTime,
      toStartTime,
      version,
      filter,
    } = request;
    const _queryParams: Record<
      string,
      string | string[] | object | object[] | null
    > = {};
    if (page != null) {
      _queryParams["page"] = page.toString();
    }

    if (limit != null) {
      _queryParams["limit"] = limit.toString();
    }

    if (name != null) {
      _queryParams["name"] = name;
    }

    if (userId != null) {
      _queryParams["userId"] = userId;
    }

    if (type_ != null) {
      _queryParams["type"] = type_;
    }

    if (traceId != null) {
      _queryParams["traceId"] = traceId;
    }

    if (level != null) {
      _queryParams["level"] = level;
    }

    if (parentObservationId != null) {
      _queryParams["parentObservationId"] = parentObservationId;
    }

    if (environment != null) {
      if (Array.isArray(environment)) {
        _queryParams["environment"] = environment.map((item) => item);
      } else {
        _queryParams["environment"] = environment;
      }
    }

    if (fromStartTime != null) {
      _queryParams["fromStartTime"] = fromStartTime;
    }

    if (toStartTime != null) {
      _queryParams["toStartTime"] = toStartTime;
    }

    if (version != null) {
      _queryParams["version"] = version;
    }

    if (filter != null) {
      _queryParams["filter"] = filter;
    }

    let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      this._options?.headers,
      mergeOnlyDefinedHeaders({
        Authorization: await this._getAuthorizationHeader(),
        "X-ElasticDash-Sdk-Name":
          requestOptions?.xElasticDashSdkName ??
          this._options?.xElasticDashSdkName,
        "X-ElasticDash-Sdk-Version":
          requestOptions?.xElasticDashSdkVersion ??
          this._options?.xElasticDashSdkVersion,
        "X-ElasticDash-Public-Key":
          requestOptions?.xElasticDashPublicKey ??
          this._options?.xElasticDashPublicKey,
      }),
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        "/api/public/observations",
      ),
      method: "GET",
      headers: _headers,
      queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
      timeoutMs:
        requestOptions?.timeoutInSeconds != null
          ? requestOptions.timeoutInSeconds * 1000
          : 60000,
      maxRetries: requestOptions?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
    });
    if (_response.ok) {
      return {
        data: _response.body as ElasticDashAPI.ObservationsViews,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new ElasticDashAPI.Error(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 401:
          throw new ElasticDashAPI.UnauthorizedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 403:
          throw new ElasticDashAPI.AccessDeniedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 405:
          throw new ElasticDashAPI.MethodNotAllowedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 404:
          throw new ElasticDashAPI.NotFoundError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        default:
          throw new errors.ElasticDashAPIError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    switch (_response.error.reason) {
      case "non-json":
        throw new errors.ElasticDashAPIError({
          statusCode: _response.error.statusCode,
          body: _response.error.rawBody,
          rawResponse: _response.rawResponse,
        });
      case "timeout":
        throw new errors.ElasticDashAPITimeoutError(
          "Timeout exceeded when calling GET /api/public/observations.",
        );
      case "unknown":
        throw new errors.ElasticDashAPIError({
          message: _response.error.errorMessage,
          rawResponse: _response.rawResponse,
        });
    }
  }

  protected async _getAuthorizationHeader(): Promise<string | undefined> {
    const username = await core.Supplier.get(this._options.username);
    const password = await core.Supplier.get(this._options.password);
    if (username != null && password != null) {
      return core.BasicAuth.toAuthorizationHeader({
        username: username,
        password: password,
      });
    }

    return undefined;
  }
}
